@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #262626;
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
